@import "fonts";


* {
    box-sizing: border-box;
    font-family: "Prompt";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,body{
    height:100%;
    width: 100%;
    margin: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}