@import "fonts";


* {
    box-sizing: border-box;
    font-family: "Prompt";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Exo', sans-serif;
}

html,body{
    height:100%;
    width: 100%;
    margin: 0;
    background: #f9f9f9;

}

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

input {
    outline: 0;
    border: 0;
} 

button {
    border: 0;
    outline: 0;
    background: transparent;
}